# Miscellaneous
*.class
*.log
*.swp
.DS_Store
.buildlog/
.history

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
build/
.flutter-plugins-dependencies

# FVM Version Cache
.fvm/
